body{
    text-align: center;
    background-color: rgb(58, 66, 75);
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 145, 0);

}
.totalnumber{
    color: rgb(255, 145, 0);
    text-align: left;
    margin-left: 600px;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

.fa-trash-alt{
    color: rgb(255, 145, 0);
    cursor: pointer;
    margin-left: 10px;
}
.fa-trash-alt:hover{
    color: rgb(255, 0, 0);
}
#input{
    width: 500px;
    height: 30px;
    border-radius: 50px;
    box-shadow: 3px 3px #888888;
}

#But1{
    border-radius: 600px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px #888888;
}
#But1:hover{
    color: rgb(255, 145, 0);
}

.addlist{
    color: rgb(0, 0, 0);
    background-color: snow;
    text-align: left;
    width: 500px;
    border-radius: 20px;
    margin-left: 600px;
    margin-top: 30px;
    line-height: 40px;
    box-shadow: 5px 5px #888888;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#liste{
    list-style: none;
}