
body{
    background-image: url("Fotos/bg.png");
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: #f7f7f7;
    text-align: left;
    font-size: 150px;
    letter-spacing: -17px;
    width: 600px;
    margin-left: 450px ;
    margin-top: -900px ;


}

h2{
    color: #f7f7f7;
    text-align: left;
    font-size: 80px;
    letter-spacing: -10px;
    width: 900px;
    margin-left: 460px;
    margin-top: -100px;
}

.subtext{
    color: #f7f7f7;
    width: 600px;
    font-size: 25px;
    margin-left: 460px;
    text-align:left;
}

.navi{
    display: inline-block;
    background-color: #000000;
    padding: 5px 8px 5px 5px;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    border-radius: 0px 0px 10px 10px;
}

.navi1{
    border-right: solid 1px #f7f7f7;
}

.navi2{
    border-right: solid 1px #f7f7f7;
}

.navi3{
    border-right: solid 1px #f7f7f7;
}

a:link, a:visited {
        text-decoration: none;
        color: #f7f7f7;
}
 a:hover {
    opacity: 0.7;
 }

 a.active{
     color: lightgray;
     text-decoration: underline;
 }


div a.activepage1{
     color: #b8a07e;
     font-weight: bolder;
}

.social{
    position: absolute;
    top: 270px;
    margin-left: 49.6%;
    z-index: 9999;
}

.social:hover{
    opacity: 0.5;
}


.circle{
    position: static;
    display: block;
    width: 1500px;
    height: 700px;
    margin-bottom: 200px;
}

.kontakt{
    color: #ffc71e;
    font-size: 20px;
    position: relative;
    bottom: 550px;
    right: 300px;
}

.activepage1{
    border-right: solid 1px white;
}

.Kontakt{
    color: #000000;
    font-weight: bolder;
    position: relative;;
    margin-left: 10px;
    margin-top: -500px;
}

.contactform{
    background: lightgrey;
    font-size: 9pt;
   
}


.Datenschutz{
    font-size: 9pt;
    color: lightgray;
    width: 600px;
    margin-left: 200px;
}

.absenden{
    font-size: 9pt;
    color: white;
    background: lightgray;
    width: 55px;
    padding: 5px 5px 5px 5px;
    margin-left: 200px;
}

#footer {
    background: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #footer .socials-media {
    width: 100%;
  }
  
  #footer .socials-media ul {
    display: inline-block;
    float: none;
    list-style: none;
    margin: 0 0 20px 0;
  }
  
  #footer .socials-media ul li {
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-top: 0;
    text-transform: capitalize;
  }
  
  .credits {
    font-size: 13px;
  }